.Navbar {
    display: flex;
    flex-direction: row;
    background: rgb(18, 209, 193);
}
.search {
    margin-right: 0;
    width: 25%;
    height:100%;

}


.navItem {
    padding: 4px;
    margin-left: 10px;
    color:rgb(7, 7, 7);
    font-size: 1.2rem;
    text-decoration: none;
    
    
    
}