.Navbar {
    display: flex;
    flex-direction: row;
    background: #135252;
}
.search {
    margin-right: 0;
    width: 25%;
    height:100%;
}


.navItem {
    padding: 4px;
    margin-left: 10px;
    color:rgb(255, 255, 255);
    font-size: 1.2rem;
    text-decoration: none;   
}

.header {
    color: #135252;
}